/*
This File contains parameters that can be changed to configure the pipeline
*/

// Max resource options
// Defaults only, expecting to be overwritten
params.max_memory                 = '100.GB'
params.max_cpus                   = 16
params.max_time                   = '24.h'


// Required Pipeline Config Settings
params.sample_sheet = '/path/to/samplesheet.csv'

params.project_name = 'Project_Name'

params.publish_dir_mode = 'defualt' // Options: 'defualt', copy', 'symlink', 'link'  Note: Defualt recommended (copy, exept on resume). When using link (Hardlink) output dir and work dir must be on the same filesystem 

params.workflow_opt = 'sr_qc_only' // (shortread_isolate, sr_qc_only, multiqc)



// Requried Setting

params.sequencing_adapter_type = 'illumina'  // (aviti, illumina, custom) - only applies to short read sequencing

params.custom_sequencing_adapter_r1 = null // Insert R1 sequencing adapter if custom was chosen

params.custom_sequencing_adapter_r1 = null // Insert R2 sequencing adapter if custom was chosen

params.fastp_q = '20'  // Average Q score for fastp - Short read Only

params.fastp_minlen = '100' // Minimum read length



/* Short Read Isolate specific settings */

params.plasmer_min_len = '500'           //==  Setting the minimum size to be classified in plasmer (defualt/recommended = 500)

params.plasmer_max_len = '500000'        //==  Setting the length at which all contigs greater than this size are automatically considered chromomosomal in orgin (defualt = 500000)

params.busco_lineage = 'bacteria_odb10' //Setting Busco Lineage - Change to more specific if desired

params.amrfinder_lineage = null // Availiable options: https://github.com/evolarjun/amr/wiki/Running-AMRFinderPlus#--organism-option

params.resfinder_lineage = null // Check usage in https://github.com/cadms/resfinder



/*
Database Settings (True = autodownload, False = supplied in corresponding folder)
*/

params.database_dir = ''

//Plasmer (recommend autodownload)
params.db_plasmer = true

//Busco (recommend autodownload)
params.db_buscov5 = true

//ViralVerify_pfam_db (Can be updated for more up to date plasmid searching, dependent on use)
params.db_viralverify = true

//GTDBtk (Can be updated for more up to date genome identification)
params.db_gtdbtk = true

//ViralVerify_pfam_db (Can be updated for more up to date plasmid searching, dependent on use)
params.db_ncbi16S = true

//resfinder (Reccomend updating for most up to date ARGs)
params.db_resfinder = true

//amrfinder (Reccomend updating for most up to date ARGs)
params.db_amrfinder = true

//argannot (Reccomend updating for most up to date ARGs)
params.db_argannot = true

//card (Reccomend updating for most up to date ARGs)
params.db_card = true

// Load base.config by default for all pipelines
includeConfig 'configs/base_config.cfg'



// Setting sequencing adapters based on previous settings

if (params.sequencing_adapter_type == 'aviti') {

    params.fastp_adap1 = 'ATGTCGGAAGGTGTGCAGGCTACCGCTTGTCAACT'
    params.fastp_adap2 = 'ATGTCGGAAGGTGTCTGGTGAGCCAATCCAGCACG'
    params.fastqc_adapt = 'adapter_list_aviti.txt'

    }

if (params.sequencing_adapter_type == 'custom') {

    params.fastp_adap1 = params.custom_sequencing_adapter_r1
    params.fastp_adap2 = params.custom_sequencing_adapter_r2
    
    }


// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}